:root {
    --bg-color: #edf1f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100vh;
}

body {
    background-color: var(--bg-color);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}